.header {
  display: flex;
<<<<<<< HEAD
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffe4b5; /* tom pastel */
  border-bottom: 1px solid #ddd;
}


.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
}

.logo-img-header {
  height: 48px;
  width: auto;
=======
  height: 80px;
  align-items: stretch;
  padding: 1rem 2rem;
  background-color: #ffe4b5;
}

.header-logo{
  align-self: center;
}

.header-nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  width: 100%;
  padding: 0 2rem;
  /* background-color:rgb(255, 96, 88); */
}

.logo-img-header {
  /* height: 48px; */
  margin: auto;
  width: 120px;
>>>>>>> 487750c (Some pages added)
  object-fit: contain;
}

.nav a {
  font-family: "Georama", sans-serif;
  margin-left: 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: #ff9900;
  
}

<<<<<<< HEAD
.login-button{
  width: 130px;
  height: 40px;
  background-color: #FFDB58;
  border-top: none;
  border-right: none;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-radius: 2px;
  /* shadow: 0px 4px 0px 0px #E37918; */
=======
.header-login{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button{
  width: 120px;
  height: 50px;
  background-color: #FFDB58;
  border: none;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 8px;
>>>>>>> 487750c (Some pages added)
}